body,html
{margin: 0;
width: 100%;
height: 100%;}

#a
{display: flex;
width: 100%;
height: 300px;
align-content: center;
justify-content: center;
position: static;}

#cover
{width: 500px;
height: 300px;
background-color: yellow;
position: absolute;
align-content: center;
justify-content: center;
display: flex;}

#profile
{width: 40%;
height: 50%;
background-color: red;
position: absolute;
bottom: 0;
align-content: center;
justify-content: center;
display: flex;}


body{
background-color:green;}
#inform{
  background-color:purple;
text-align: center;
}
  p{
    background-color: lime;}
   #ab
{position: absolute;}
